Importar librerias

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, date

Concatenar nuevamente los df de ratings

In [3]:
df_rating1 = pd.read_csv('../P1_ML/MLOpsReviews/ratings/1.csv', sep = ',')
df_rating2 = pd.read_csv('../P1_ML/MLOpsReviews/ratings/2.csv', sep = ',')
df_rating3 = pd.read_csv('../P1_ML/MLOpsReviews/ratings/3.csv', sep = ',')
df_rating4 = pd.read_csv('../P1_ML/MLOpsReviews/ratings/4.csv', sep = ',')
df_rating5 = pd.read_csv('../P1_ML/MLOpsReviews/ratings/5.csv', sep = ',')
df_rating6 = pd.read_csv('../P1_ML/MLOpsReviews/ratings/6.csv', sep = ',')
df_rating7 = pd.read_csv('../P1_ML/MLOpsReviews/ratings/7.csv', sep = ',')
df_rating8 = pd.read_csv('../P1_ML/MLOpsReviews/ratings/8.csv', sep = ',')

In [4]:
for ind, time in enumerate(df_rating1.timestamp):
    df_rating1['timestamp'][ind] = date.fromtimestamp(time)
for ind, time in enumerate(df_rating2.timestamp):
    df_rating2['timestamp'][ind] = date.fromtimestamp(time)
for ind, time in enumerate(df_rating3.timestamp):
    df_rating3['timestamp'][ind] = date.fromtimestamp(time)
for ind, time in enumerate(df_rating4.timestamp):
    df_rating4['timestamp'][ind] = date.fromtimestamp(time)
for ind, time in enumerate(df_rating5.timestamp):
    df_rating5['timestamp'][ind] = date.fromtimestamp(time)
for ind, time in enumerate(df_rating6.timestamp):
    df_rating6['timestamp'][ind] = date.fromtimestamp(time)
for ind, time in enumerate(df_rating7.timestamp):
    df_rating7['timestamp'][ind] = date.fromtimestamp(time)
for ind, time in enumerate(df_rating8.timestamp):
    df_rating8['timestamp'][ind] = date.fromtimestamp(time)

C:\Users\Carlo\AppData\Local\Temp\ipykernel_2656\4204255159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rating1['timestamp'][ind] = date.fromtimestamp(time)
C:\Users\Carlo\AppData\Local\Temp\ipykernel_2656\4204255159.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rating2['timestamp'][ind] = date.fromtimestamp(time)
C:\Users\Carlo\AppData\Local\Temp\ipykernel_2656\4204255159.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rating3['timestamp'][ind] = date.fromtimestamp(time)
C:\Users\Carlo\AppData\Local\Temp\ipykernel_2656\4204255159.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rating4['timestamp'][ind] = date.fromtimestamp(time)
C:\Users\Carlo\AppData\Local\Temp\ipykernel_2656\4204255159.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rating5['timestamp'][ind] = date.fromtimestamp(time)
C:\Users\Carlo\AppData\Local\Temp\ipykernel_2656\4204255159.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rating6['timestamp'][ind] = date.fromtimestamp(time)
C:\Users\Carlo\AppData\Local\Temp\ipykernel_2656\4204255159.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rating7['timestamp'][ind] = date.fromtimestamp(time)
C:\Users\Carlo\AppData\Local\Temp\ipykernel_2656\4204255159.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rating8['timestamp'][ind] = date.fromtimestamp(time)

In [5]:
df_ratings = pd.concat([df_rating1, df_rating2, df_rating3, df_rating4, df_rating5, df_rating6, df_rating7, df_rating8], ignore_index=True).drop_duplicates()

In [13]:
df_movies = pd.read_csv('Ratings.csv', sep = ';')

In [17]:
df_ratings.head()

   userId  rating   timestamp movieId
0       1     1.0  2015-03-09   as680
1       1     4.5  2015-03-09  ns2186
2       1     5.0  2015-03-09  hs2381
3       1     5.0  2015-03-09  ns3663
4       1     5.0  2015-03-09  as9500

In [15]:
df_movies.head()

    id                 title                listed_in    rating
0  as1   the grand seduction            comedy, drama  3.467131
1  as2  take care good night     drama, international  3.548682
2  as3  secrets of deception  action, drama, suspense  3.498812
3  as4    pink: staying true              documentary  3.537076
4  as5         monster maker           drama, fantasy  3.478992